# Data Science Tools and Ecosystem

## Introduction
In this notebook, we summarize some of the most commonly used tools, libraries, and languages in the field of data science.

## Data Science Languages
- Python  
- R  
- SQL  
- Julia  
- Scala

## Data Science Libraries
Some of the most popular data science libraries include:
- Pandas  
- NumPy  
- Scikit-learn  
- Matplotlib  
- TensorFlow

## Data Science Tools

| Category         | Tool Name       |
|------------------|-----------------|
| Data Analysis     | Pandas          |
| Data Visualization| Matplotlib      |
| Machine Learning  | Scikit-learn    |
| Deep Learning     | TensorFlow      |
| Big Data          | Apache Spark    |

## Arithmetic Expression Examples
Below are examples of arithmetic expressions like addition and multiplication.

In [11]:
# This will multiply 3 by 4 and then add 5
(3 * 4) + 5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives
- List popular languages used in data science  
- List commonly used libraries in data science  
- Show examples of arithmetic expressions  
- Convert minutes to hours using Python code  
- Demonstrate use of markdown and code cells in a Jupyter Notebook

## Author
**Rudraneel Sannigrahi**